:root {
  --blue-color: dodgerblue;
  --green-color: rgb(51, 168, 104);
  --purple-color: rgb(136, 104, 187);
  --red-color: rgb(221, 76, 76);
  --dark-grey-color: #161616;
  --dark-green-color: darkslategrey;
  --dark-blue-color: rgb(72, 112, 199);
  --white-color: #FFFFFF;
}

@font-face {
  font-family: 'Secular';
  src: url('../public/fonts/Secular.ttf');
}

* {
  font-family: Secular;
  color: var(--white-color);
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--dark-grey-color);
}

.start-screen {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: var(--dark-grey-color);
  transition: 1s;
}

.start-title {
  position: absolute;
  top: 55%;
  left: 50%;
  font-size: 100px;
  opacity: 0;
  bottom: 50px;
  transform: translate(-50%, -50%);
}

.start-title.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.start-title.fade {
  top: 100px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 66%;
  left: 50%;
  opacity: 0;
  bottom: 50px;
  transform: translate(-50%, -50%);
}

.name-form.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.name-form.fade {
  top: 100px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.name-form input {
  height: 30px;
  width: 180px;
  padding: 2px;
  padding-left: 6px;
  font-size: 20px;
  color: var(--white-color);
  background-color: var(--dark-grey-color);
  border: 1px solid var(--white-color);
}

.name-form label {
  font-size: 25px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enter-game-btn {
  height: 55px;
  width: 200px;
  margin-top: 20px;
  background-color: var(--dark-grey-color);
  border: 1px solid var(--white-color);
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  visibility: hidden;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.enter-game-btn:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

.enter-game-btn:active {
  transform: scale(0.9);
}

.drag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  position: absolute;
  right: 5%;
  width: 45%;
  height: 60%;
  background: var(--dark-grey-color);
  padding: 20px;
  visibility: hidden;
}

.drag-container-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.ships-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  gap: 25px;
}

.ship {
  display: flex;
  height: 45px;
  width: 45px;
  border: 4px solid var(--blue-color);
  z-index: 1;
}

.ship:hover {
  cursor: pointer;
  border: 4px solid var(--white-color);
}

.horizontal {
  height: 45px;
}

.destroyer-h {
  width: 90px;
}

.submarine-h {
  width: 135px;
}

.cruiser-h {
  width: 135px;
}

.battleship-h {
  width: 180px;
}

.carrier-h {
  width: 225px;
}

.vertical {
  width: 45px;
}

.destroyer-v {
  height: 90px;
}

.submarine-v {
  height: 135px;
}

.cruiser-v {
  height: 135px;
}

.battleship-v {
  height: 180px;
}

.carrier-v {
  height: 225px;
}

.hide {
  display: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
}

.rotate-btn {
  min-height: 40px;
  width: 100px;
  font-size: 18px;
  background-color: var(--dark-grey-color);
  border: 2px solid var(--blue-color);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.rotate-btn:hover {
  background-color: var(--blue-color);
  cursor: pointer;
}

.rotate-btn:active {
  transform: scale(0.9);
}

.random-btn {
  min-height: 40px;
  width: 100px;
  font-size: 18px;
  background-color: var(--dark-grey-color);
  border: 2px solid var(--green-color);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.random-btn:hover {
  background-color: var(--green-color);
  cursor: pointer;
}

.random-btn:active {
  transform: scale(0.9);
}

.start-game-btn {
  min-height: 40px;
  width: 120px;
  font-size: 20px;
  background-color: var(--dark-grey-color);
  border: 2px solid var(--purple-color);
  visibility: hidden;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.start-game-btn:hover {
  background-color: var(--purple-color);
  cursor: pointer;
}

.start-game-btn:active {
  transform: scale(0.9);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
}

.header-text {
  font-size: 60px;
  margin-top: 20px;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 85%;
  width: 100%
}

.board-containers {
  display: flex;
  flex-direction: row;
  width: inherit;
}

.game-status-text {
  width: 400px;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.player-container,
.ai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  height: 100%;
  width: 100%;
  background: var(--dark-grey-color);
}

.player-grid,
.ai-grid {
  display: grid;
  grid-template: repeat(10, 45px) / repeat(10, 45px);
  margin-bottom: 50px;
  background: var(--dark-grey-color);
}

.player-name,
.ai-name {
  font-size: 30px;
  padding: 10px;
}

.player-tile,
.ai-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: 0.75px solid var(--white-color);
  background: var(--blue-color);
  font-weight: bolder;
  transition: transform 0.2s ease;
}

.player-tile:hover {
  cursor: auto;
}

.ai-tile:hover {
  cursor: pointer;
  transform: translateY(-2px) translateX(2px);
}

.ai-tile:active {
  transform: translateY(0px) translateX(0px);
}

.drag-over {
  background-color: rgb(175, 186, 197);
}

.tile-reset {
  background: grey;
}

.reset-game-btn {
  position: absolute;
  right: 1.5%;
  bottom: 1.5%;
  transform: translate(-1.5%, -1.5%);
  height: 50px;
  width: 140px;
  border: 1px solid var(--white-color);
  background: var(--dark-grey-color);
  font-size: 20px;
  visibility: hidden;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.reset-game-btn:hover {
  background: var(--red-color);
  cursor: pointer;
}

.reset-game-btn:active {
  transform: scale(0.9);
}

.win-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: absolute;
  height: 180px;
  width: 500px;
  border: 1px solid var(--white-color);
  background: var(--dark-grey-color);
  visibility: hidden;
}

.win-text {
  font-size: 40px;
}

.new-game-btn {
  height: 50px;
  width: 140px;
  border: 1px solid var(--white-color);
  background-color: var(--dark-grey-color);
  font-size: 20px;
  transition: background-color 0.2s ease;
}

.new-game-btn:hover {
  background-color: var(--green-color);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  border-top: 1px solid white;
  background: var(--dark-grey-color);
  width: 100%;
}

.footer-text {
  font-size: 20px;
}